<h2>支払い</h2>

<p>
  <h3>一回支払い</h3>
  <%= form_for @charge do |f| %>
    <%= f.hidden_field :amount %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Settings.stripe.public_key %>"
              data-email="<%= current_user.email %>"
              data-name="〇〇ECサイト"
              data-description="一回だけの支払い"
              data-amount="<%= @charge.amount %>"
              data-locale="ja"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-label="一回払い">
    </script>
  <% end %>
</p>

<p>
  <h3>プラン選択</h3>
  <%= form_for current_user, html: { id: 'select-plan-form', class: 'form form-horizontal' } do |f| %>
  <div class="row">
    <% Plan.all.each do |plan| %>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading"><%= plan.name %></div>
        <div class="panel-body">
          <h4 class='text-center'>
            <label>
              <%= f.radio_button :plan_id, plan.id, checked: current_user.plan_id == plan.id %>
              <%= number_with_delimiter plan.amount %> 円 / <%= plan.interval %>
            </label>
          </h4>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <% if current_user.card_token.blank? %>
    <div class="row">
      <div class="col-md-12">
        <div class="payment-errors text-danger"></div>
      </div>
    </div>

    <div class="form-group">
      <label class='control-label col-md-2'>カード番号</label>
      <div class="col-md-10">
        <input type="text" size="20" class='form-control' data-stripe="number">
      </div>
    </div>

    <div class="form-group">
      <label class='control-label col-md-2'>有効期限</label>
      <div class="col-md-10">
        <input type="text" size="2" data-stripe="exp_month">
        <span> / </span>
        <input type="text" size="2" data-stripe="exp_year">
      </div>
    </div>

    <div class="form-group">
      <label class='control-label col-md-2'>CVC</label>
      <div class="col-md-10">
        <input type="text" size="4" class='form-control' data-stripe="cvc">
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= f.submit '保存する', class: 'submit btn btn-primary btn-lg btn-block' %>
    </div>
  </div>

  <% if current_user.card_token.blank? %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('<%= Settings.stripe.public_key %>');

      $(function() {
        var $form = $('#select-plan-form');

        $form.submit(function(event) {
          // Disable the submit button to prevent repeated clicks:
          $form.find('.submit').prop('disabled', true);

          // Request a token from Stripe:
          Stripe.card.createToken($form, stripeResponseHandler);

          // Prevent the form from being submitted:
          return false;
        });

        function stripeResponseHandler(status, response) {
          if (response.error) { // Problem!

            // Show the errors on the form:
            console.log(response.error);
            $form.find('.payment-errors').text(response.error.message);
            $form.find('.submit').prop('disabled', false); // Re-enable submission

          } else { // Token was created!

            // Get the token ID:
            var token = response.id;

            // Insert the token ID into the form so it gets submitted to the server:
            $form.append($('<input type="hidden" name="stripeToken">').val(token));

            // Submit the form:
            $form.get(0).submit();
          }
        };
      });
    </script>
  <% end %>
  <% end %>

</p>
